Repository gardener/cc-utils, pull requests merged in 2019-03, with the labels that each got.

#228 Implement dev_cycle_callback
  concourse/model/traits/release.py
  concourse/steps/release.mako
  concourse/steps/release.py
  doc/traits/release.rst
  test/concourse/steps/release_test.py
Labels: area/dev-productivity, component/cicd, exp/beginner, kind/enhancement, needs/lgtm, needs/ok-to-test, needs/review, needs/second-opinion, priority/normal, size/m, status/in-progress, status/under-investigation

#234 improve documentation
  concourse/model/traits/notifications.py
  concourse/model/traits/publish.py
  doc/lib/attributes.py
  doc/lib/cc_directives/base.py
Labels: needs/ok-to-test

#238 fix: don't make monitoring and version mandatory for kubernetes config
  model/kubernetes.py
  test/model/kubernetes_test.py
Labels: reviewed/ok-to-test
