Repository gardener/cc-utils, pull requests merged in 2020-10, with the labels that each got.

#483 Also cleanup draft releases on draft release creation
  concourse/steps/draft_release.mako
Labels: needs/ok-to-test

#487 Add transport tool for component descriptor v2
  ci/util.py
  container/model.py
  container/util.py
  product/v2.py
  transport/README.md
  transport/processing.cfg
  transport/processing/__init__.py
  transport/processing/aptpackagemeta.remove
  transport/processing/berkeleydb.remove
  transport/processing/config.py
  transport/processing/downloaders.py
  transport/processing/filters.py
  transport/processing/hyperkube.remove
  transport/processing/processing.py
  transport/processing/processing_component.py
  transport/processing/processing_model.py
  transport/processing/processors.py
  transport/processing/uploaders.py
  transport/tests/__init__.py
  transport/tests/conftest.py
  transport/tests/downloaders_test.py
  transport/tests/filters_test.py
  transport/tests/process_deps_test.py
  transport/tests/processors_test.py
  transport/tests/uploader_test.py
  transport/transport.py
Labels: needs/second-opinion, size/xl

#488 Address PR comments for transport tool v2
  transport/processing.cfg
  transport/processing/config.py
  transport/processing/filters.py
  transport/processing/processing.py
  transport/processing/processing_component.py
  transport/processing/processing_model.py
  transport/processing/processors.py
  transport/processing/uploaders.py
  transport/tests/process_deps_test.py
  transport/transport.py
  transport/transport.yaml
Labels: needs/ok-to-test, needs/second-opinion, size/xl

#489 Update component-update trait to v2
  concourse/steps/update_component_deps.mako
  concourse/steps/update_component_deps.py
  test/concourse/steps/update_component_deps_test.py
Labels: needs/ok-to-test, needs/second-opinion, reviewed/do-not-merge, size/xl
